html{
  font-family: Inter, sans-serif;
}

body{
  margin: 0;
}

div.RecordingInfo {
  font-size: xx-large;
  margin: 10px;
}

div.Status {
  font-size: xx-large;
  margin: 10px;
}

div.OriginTitle {
  font-size: xx-large;
  margin-top: 30px;
  margin-left: 10px;
}

div.OriginEntry {
  margin-left: 20px;
}

div.SummaryTitle {
  font-size: x-large;
  margin-left: 20px;
}

div.SummaryEntry {
  margin-left: 40px;
}

a.SummaryPoint {
  margin-left: 20px;
}

div.TimelineDescription {
  font-size: x-large;
}

div.TimelineEntry {
  background-color: #b3d9ff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

div.TimelineEntryNetwork {
  background-color: #ffb3b3;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

div.Footer {
  margin-bottom: 30px;
}
