html{
  font-family: sans-serif;  
}

body{
  margin: 0;
}

div.SummaryTitle {
  font-size: xx-large;
}

div.TimelineDescription {
  font-size: x-large;
}

div.TimelineEntry {
  background-color: #b3d9ff;
  margin: 5px 5px 5px 5px;
}

div.TimelineEntryNetwork {
  background-color: #ffb3b3;
  margin: 5px 5px 5px 5px;
}
